h1 {
  background: #4aaaa5;
  color: #ffffff;
  font-size: 35px;
  margin: 0;
  height: 100%;
}

.writing {
  background-color: white;
  color: black;
}

.main-content {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 70px);
}

nav {
  display: flex;
  padding: 10px;
  color: #ffffff;
}

body {
  background-image: url("../images/seattle.png");
  /* background-image: url("../images/farmer/farmer.png"); */
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
}

.header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
}

.content {
  max-width: 960px;
  width: 100%;
  color: white;
  background-color: transparent;
  justify-content: center;
  margin: 30px;
  padding: 20px;
  text-align: left;
  font-weight: 1000;
}

a {
  color: white;
}

.picture1 {
  display: flex;
  justify-content: center;
}

.p1 {
  color: #777777;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.p2 {
  color: #777777;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.button {
  display: flex;
  justify-content: end;
  color: #4aaaa5;
  margin: 50px;
}

input[type="text"] {
  width: 98%;
  margin: 3px;
}

input[type="text1"] {
  width: 98%;
  height: 150px;
  margin: 3px;
}

input[type="submit"] {
  font-size: 15px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3px;
  direction: flex;
  justify-content: flex-end;
  width: 10%;
  display: inline-block;
  color: #ffffff;
  background-color: #4aaaa5;
}

h2 {
  color: white;
  font-weight: 1000;
  margin: 0px;
  font-size: 28px;
}

.text {
  width: 50%;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.img-fluid {
  margin: 30px 50px 30px 50px;
  width: 75%;
  height: 75%;
  max-height: 280px;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-radius: 5px;
}

.img-responsive {
  width: 40%;
}

h3 {
  position: absolute;
  color: #ffffff;
  background-color: #4aaaa5;
  width: 65%;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  bottom: 48px;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}

#custom-button {
  color: #ffffff;
  background-color: #4aaaa5;
  border: #4aaaa5;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
